In [20]:
import pandas as pd
from sqlalchemy import create_engine
from time import time
import os

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [7]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100_000)

In [8]:
df = next(df_iter)
len(df)

100000

In [10]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [18]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

765

In [12]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 3.09 s, sys: 109 ms, total: 3.2 s
Wall time: 13.3 s

1000

In [14]:
for df in df_iter:
    t_start = time()

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print(f'inserted chunk..., took {(t_end - t_start):.3f} seconds')

inserted chunk..., took 12.212 seconds
inserted chunk..., took 12.624 seconds
inserted chunk..., took 12.561 seconds
inserted chunk..., took 13.747 seconds
inserted chunk..., took 14.421 seconds
inserted chunk..., took 14.229 seconds
inserted chunk..., took 14.355 seconds
inserted chunk..., took 16.538 seconds
inserted chunk..., took 13.952 seconds
inserted chunk..., took 14.645 seconds
inserted chunk..., took 15.965 seconds

/var/folders/m5/90bb4mps3dv507n82593klgr0000gn/T/ipykernel_63256/2626133253.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in df_iter:

inserted chunk..., took 17.518 seconds
inserted chunk..., took 8.923 seconds

In [23]:
os.system(f"wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv")
df_zones = pd.read_csv('taxi+_zone_lookup.csv')
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

--2023-01-21 02:48:17--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.113.133, 52.216.222.128, 52.216.241.150, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.113.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv.2'

     0K .......... ..                                         100% 8.60M=0.001s

2023-01-21 02:48:17 (8.60 MB/s) - 'taxi+_zone_lookup.csv.2' saved [12322/12322]

265